body {
  position: relative;
  margin: 0px 0px 0px 0px;
}

section {
  border-bottom: 1px solid #cc0000;
  min-height: 30vh;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 18px;
}

/** NavBar Styles **/
.navbar {
    min-height: 80px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-right {
  margin-right: 50px;
  margin-top: 16px
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
}

.nav-logo {
  margin: -5px 0px 0px 65px;
}
/** End NavBar Styles **/


/** Hero Styles **/
#hero {
  background-image: url(https://unsplash.it/1280/1024?random&sig=1);
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-top: 0;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 15%;
  position: relative;
}

#hero::before {
  content: "";
  display: block;
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
}

#hero h2 {
  display: inline-block;
  padding: 15px;
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 5px;
1
}

#hero p {
  background-color: rgba(0, 0, 0, .8);
  display: inline-block;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  z-index: 3;
}

.emphasis {
  font-size: 20px;
  color: #cc0000;
}
/** End Hero Styles **/


/** Services Styles **/
#services {
  min-height: 25vh;
  padding: 100px 30px 75px 30px;
}
.serviceBox{
    text-align: center;
    position: relative;
    z-index: 1;
}
.serviceBox .service-icon{
    width: 78px;
    height: 78px;
    border-radius:3px;
    border: 2px solid #cc0000;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -38px;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
}
.serviceBox:hover .service-icon{
    transform: rotate(45deg);
}
.serviceBox .service-icon span{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #cc0000;
    font-size: 30px;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-out 0s;
}
.serviceBox .service-icon span i{
    transition: all 0.3s ease-out 0s;
}
.serviceBox:hover .service-icon span i{
    transform: rotate(-45deg);
}
.serviceBox .service-content{
    background: #fff;
    border: 2px solid #cc0000;
    border-radius: 3px;
    padding: 55px 15px;
    position: relative;
}
.serviceBox .service-content:before{
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin: 0 auto;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}
.serviceBox:hover .service-content:before{
    transform: rotate(45deg);
}
.serviceBox .title {
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin: 15px 0 25px 0;
    position: relative;
    transition: all 0.3s ease-out 0s;
}
.serviceBox:hover .title{
    color: #cc0000;
}
.serviceBox .description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;

}
.serviceBox .read-more{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #cc0000;
    font-size: 14px;
    color: #c4c2c2;
    margin: 0 auto;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    transition: all 0.3s ease-out 0s;
}
.serviceBox .read-more:hover{
    border: 1px solid #cc0000;
    color: #cc0000;
    text-decoration: none;
}
.serviceBox.green .service-icon span{ background: #cc0000; }
.serviceBox.blue .service-icon span{ background: #cc0000; }
.serviceBox.orange .service-icon span{ background: #cc0000; }

.serviceBox.blue .read-more:hover{
    border: 1px solid #cc0000;
    color: #cc0000;
}
.serviceBox.orange .read-more:hover{
    border: 1px solid #cc0000;
    color: #cc0000;
}
#services .fa {
  margin-top: 15px;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 70px; }
}
@media only screen and (max-width: 767px){
    .serviceBox{ margin-bottom: 80px; }
}
/** End Services Styles **/


/** About Styles **/
.halfbox-left {
    display: inline-block;
    padding: 80px 100px 80px 100px;
    color: #fff;
    background: #cc0000;
    min-height: 400px;
    text-align: center;
}
.social-row {
  margin-top: 20px;
  text-align: center;
}
#about a {
  margin-top: 20px;
  font-size: 2.5em;
  padding-right: .5em;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#about a:hover {
  color: goldenrod;
}

.site-title h3 {
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}

#about p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.img-right {
    background: url(../images/about_me.jpg) no-repeat 0px 0px;
    min-height: 400px;
    background-size: cover;
    padding: 201px 0px;
    text-align: center;
}

/** End About Styles **/


/** Work Styles **/
#portfolio {
  background-color: #fff;
  text-align: center;
  padding: 50 30px 35px 30px;
}

}
#portfolio img {
  border: 2px solid #cc0000;
}

#portfolio .img-top {
  margin-top: 10px;
}
#portfolio h3 a {
  color: #cc0000;
  font-size: 20px;
  padding: 0px;
  display: inline-block;
  font-family: 'Monserrat', sans-serif;
}

#portfolio h3 a:hover {
  color: goldenrod;
  text-decoration: none;
}

#portfolio p {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  padding: 0px 10px 0px 10px;
}
/** End Work Styles **/

#contact {
  background-image: url(https://unsplash.it/1280/1024?random&sig=6);
  background-size: cover;
  background-position: center center;
}
